name = "ZeroEngine"
version = "0.1.0"
type = "exec"
language = "cpp"

[sources]
dirs = ["src", "src/glad.c"]

[includes]
dirs = ["include"]

[build]
flags = ["-Wall", "-Wextra", "-Wpedantic", "-std=c++17"]
optimization = "2"
libs = ["GL", "glfw", "dl", "pthread", "vulkan"]


[scripts]
# Custom build scripts can be defined here
# prebuild = "echo 'Running prebuild'"
# postbuild = "echo 'Build complete'"
