name = "ZeroEngine"
version = "0.1.0"
type = "exec"
language = "cpp"

[sources]
dirs = ["src"]

[includes]
dirs = ["include"]

[build]
flags = ["-Wall", "-Wextra", "-Wpedantic", "-std=c++17"]
optimization = "2"
libs = ["GL", "glfw", "dl", "pthread"]

[deps]
# Install GLFW: sudo apt-get install libglfw3-dev
# That's it! OpenGL comes with your graphics drivers

[scripts]
# Custom build scripts can be defined here
# prebuild = "echo 'Running prebuild'"
# postbuild = "echo 'Build complete'"
